* {
    margin: 0, auto;
    padding: 0;
}

.recipe-container {
    width: 50%;
    border: 2px solid #F6F6F6;
    background-color: #FFC7C7;
}

.recipe-container h3 {
    padding: 10px 5px;
    color: #F6F6F6;
}

.recipe-description {
    padding-left: 20px;
    color: #8785A2;
}

.recipe-ingredients {
    padding-left: 20px;
    color: #8785A2;
}

.recipe-steps {
    padding-left: 20px;
    color: #8785A2;
}

.recipe-img {
    padding-left: 50px;
    width: 400px;
    height: auto;
}

.recipe-heading {
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #F6F6F6;
}

.return-home {
    color: #8785A2;
    font-size: 20;
    text-decoration: none;
}